# Base files

node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
coverage

# Source files

src

# Config files

tsconfig.json
.gitignore
eslint.config.js
tsdown.config.ts
vitest.config.ts
global.d.ts
.vscode
.editorconfig

# Extra files
